[submodule "ag.vim"]
	path = ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "deoplete-go"]
	path = deoplete-go
	url = git@github.com:zchee/deoplete-go.git
[submodule "deoplete.nvim"]
	path = deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "nerdtree"]
	path = nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "nvim-yarp"]
	path = nvim-yarp
	url = git@github.com:roxma/nvim-yarp.git
[submodule "tagbar"]
	path = tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim-hug-neovim-rpc"]
	path = vim-hug-neovim-rpc
	url = git@github.com:roxma/vim-hug-neovim-rpc.git
[submodule "vim-terraform"]
	path = vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "vimproc.vim"]
	path = vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "vimshell.vim"]
	path = vimshell.vim
	url = git@github.com:Shougo/vimshell.vim.git
[submodule "vim-delve"]
	path = vim-delve
	url = git@github.com:sebdah/vim-delve.git
[submodule "vim-healthcheck"]
	path = vim-healthcheck
	url = https://github.com/rhysd/vim-healthcheck.git
[submodule "typescript-vim"]
	path = typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "deoplete-vim-lsp"]
	path = deoplete-vim-lsp
	url = https://github.com/lighttiger2505/deoplete-vim-lsp
[submodule "vim-lsp"]
	path = vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "echodoc.vim"]
	path = echodoc.vim
	url = https://github.com/Shougo/echodoc.vim
[submodule "markdown-preview.nvim"]
	path = markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "vim-node-rpc"]
	path = vim-node-rpc
	url = https://github.com/neoclide/vim-node-rpc.git
[submodule "vim-go"]
	path = vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "govim"]
	path = govim
	url = https://github.com/govim/govim.git
[submodule "asyncomplete.vim"]
	path = asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "asyncomplete-omni.vim"]
	path = asyncomplete-omni.vim
	url = https://github.com/yami-beta/asyncomplete-omni.vim
[submodule "ale"]
	path = ale
	url = git@github.com:dense-analysis/ale.git
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim-lsp-ale"]
	path = vim-lsp-ale
	url = git@github.com:rhysd/vim-lsp-ale.git
[submodule "lightline.vim"]
	path = lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
